### Aula 03 - Análise de dados com Python

Carregando os dados do arquivo Excel

Importando a biblioteca

In [5]:
import pandas as pd

### Carregando dados

In [4]:
# lendo os dados (nesse código, o arquivo Excel precisa estar na mesma pasta)

dados = pd.read_excel("vendas.xlsx")

### Análise exploratória

In [10]:
# Listar primeiras linhas

dados.head(10)

,id_pedido,data,loja,cidade,estado,regiao,tamanho,local_consumo,preco,forma_pagamento,ano_mes
0,PED1994,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,5,Dinheiro,2020-01
1,PED2246,2020-01-01,Loja 6,Florianópolis,Santa Catarina,Sul,500ml,Consumo no local,11,Débito,2020-01
2,PED3876,2020-01-01,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,300ml,Delivery,7,Crédito,2020-01
3,PED4352,2020-01-01,Loja 1,Fortaleza,Ceará,Nordeste,1000ml,Consumo no local,7,Débito,2020-01
4,PED8633,2020-01-01,Loja 5,São Paulo,São Paulo,Sudeste,200ml,Delivery,9,Crédito,2020-01
5,PED10668,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,500ml,Delivery,7,Crédito,2020-01
6,PED11326,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,300ml,Delivery,11,Dinheiro,2020-01
7,PED11327,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,200ml,Delivery,5,Pix,2020-01
8,PED11506,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,5,Débito,2020-01
9,PED16937,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,700ml,Consumo no local,13,Dinheiro,2020-01

In [ ]:
# Listar as últimas linhas

dados.tail()

### Tamanho da tabela de dados

In [12]:
dados.shape # tras a quantidade de linhas e colunas numa tabela

(70000, 11)

### Verificar tipo de dados de cada coluna

In [14]:
dados.dtypes

id_pedido                  object
data               datetime64[ns]
loja                       object
cidade                     object
estado                     object
regiao                     object
tamanho                    object
local_consumo              object
preco                       int64
forma_pagamento            object
ano_mes                    object
dtype: object

### Estatísticas

In [15]:
# Gerando estatística

dados.describe()

              preco
count  70000.000000
mean       8.355200
std        2.653061
min        5.000000
25%        7.000000
50%        7.000000
75%       11.000000
max       13.000000

### Análises

In [16]:
# Total de vendas por loja

dados.loja.value_counts()

Loja 4    13483
Loja 6    13075
Loja 1    12344
Loja 5    12177
Loja 3    10603
Loja 2     8318
Name: loja, dtype: int64

In [17]:
dados

,id_pedido,data,loja,cidade,estado,regiao,tamanho,local_consumo,preco,forma_pagamento,ano_mes
0,PED1994,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,5,Dinheiro,2020-01
1,PED2246,2020-01-01,Loja 6,Florianópolis,Santa Catarina,Sul,500ml,Consumo no local,11,Débito,2020-01
2,PED3876,2020-01-01,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,300ml,Delivery,7,Crédito,2020-01
3,PED4352,2020-01-01,Loja 1,Fortaleza,Ceará,Nordeste,1000ml,Consumo no local,7,Débito,2020-01
4,PED8633,2020-01-01,Loja 5,São Paulo,São Paulo,Sudeste,200ml,Delivery,9,Crédito,2020-01
...,...,...,...,...,...,...,...,...,...,...,...
69995,PED67084,2022-12-31,Loja 6,Florianópolis,Santa Catarina,Sul,500ml,Consumo no local,11,Crédito,2022-12
69996,PED67857,2022-12-31,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,200ml,Consumo no local,7,Pix,2022-12
69997,PED69171,2022-12-31,Loja 4,Santos,São Paulo,Sudeste,500ml,Consumo no local,5,Dinheiro,2022-12
69998,PED69229,2022-12-31,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,9,Pix,2022-12
69999,PED69356,2022-12-31,Loja 1,Fortaleza,Ceará,Nordeste,300ml,Delivery,9,Pix,2022-12

In [21]:
# Total de pedidos por tamanho

dados.tamanho.value_counts()

300ml     20475
200ml     15804
500ml     13591
700ml     11158
1000ml     8972
Name: tamanho, dtype: int64

In [20]:
# Total consumo

dados.local_consumo.value_counts()

Consumo no local    35099
Delivery            34901
Name: local_consumo, dtype: int64

In [22]:
# Total de vendas por forma de pag

dados.forma_pagamento.value_counts()

Crédito     26063
Débito      20427
Dinheiro    14709
Pix          8801
Name: forma_pagamento, dtype: int64

### Agrupamento de dados

In [24]:
# Faturamento por loja

dados.groupby("loja").preco.sum()

loja
Loja 1    103162
Loja 2     69592
Loja 3     88357
Loja 4    112379
Loja 5    102189
Loja 6    109185
Name: preco, dtype: int64

In [25]:
# Faturamento médio por loja

dados.groupby("loja").preco.mean()

loja
Loja 1    8.357259
Loja 2    8.366434
Loja 3    8.333208
Loja 4    8.334866
Loja 5    8.391968
Loja 6    8.350669
Name: preco, dtype: float64

In [28]:
# Faturamento médio por loja

dados.groupby("estado").preco.sum()

estado
Ceará             103162
Rio de Janeiro    157949
Santa Catarina    109185
São Paulo         214568
Name: preco, dtype: int64

In [34]:
# Faturamento por estado e cidade detalhada e excel
dados.groupby(["estado", "cidade"]).preco.sum().to_excel("Faturamento.xlsx")

In [33]:
# Faturamento por estado e cidade detalhada na tela
dados.groupby(["estado", "cidade"]).preco.sum().to_frame("")

estado         cidade
Ceará          Fortaleza       103162
Rio de Janeiro Niterói          69592
               Rio de Janeiro   88357
Santa Catarina Florianópolis   109185
São Paulo      Santos          112379
               São Paulo       102189

In [35]:
dados.groupby(["estado", "cidade"]).preco.mean().to_frame("")

estado         cidade
Ceará          Fortaleza       8.357259
Rio de Janeiro Niterói         8.366434
               Rio de Janeiro  8.333208
Santa Catarina Florianópolis   8.350669
São Paulo      Santos          8.334866
               São Paulo       8.391968

In [38]:
import plotly_express as px

### Criando gráficos

In [ ]:
grafico = px.histogram(dados, x="loja", y="preco", text_auto=True, color="forma_pagamento")
grafico.show()
grafico.write_html("grafico-forma-pagamento.html")

In [ ]:
grafico = px.histogram(dados, x="cidade", y="preco", text_auto=True, color="forma_pagamento")
grafico.show()
# grafico.write_html("grafico-forma-pagamento.html")

In [ ]:
lista_colunas = ["loja", "cidade", "estado", "regiao","tamanho","local_consumo","forma_pagamento"]

for coluna in lista_colunas:
    grafico = px.histogram(dados, x=coluna, y="preco", text_auto=True, color="forma_pagamento")
    grafico.show()
    grafico.write_html(f"grafico-{coluna}.html")

In [ ]:
# agrupando os dados
agrupado = dados.groupby(["loja", "ano_mes"]).preco.sum().to_frame()

#resetando os índices
agrupado.reset_index(inplace=True)

# criando uma coluna com o valor acumulado
agrupado["acumulado"] = agrupado.groupby("loja").preco.cumsum()

# gerando o gráfico
fig = px.bar(agrupado,
 x='acumulado',
 y="loja",
 color='loja', 
 text_auto=True,
 range_x=[0,160000],
 animation_frame='ano_mes')

fig.show()

# exportando o gráfico para um arquivo
fig.write_html('grafico_faturamento.html')

In [36]:
!pip install plotly_express

Collecting plotly_express
  Downloading plotly_express-0.4.1-py2.py3-none-any.whl (2.9 kB)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\fernando\anaconda3\lib\site-packages (from plotly_express) (0.13.5)
Requirement already satisfied: scipy>=0.18 in c:\users\fernando\anaconda3\lib\site-packages (from plotly_express) (1.10.0)
Requirement already satisfied: pandas>=0.20.0 in c:\users\fernando\anaconda3\lib\site-packages (from plotly_express) (1.5.3)
Requirement already satisfied: numpy>=1.11 in c:\users\fernando\anaconda3\lib\site-packages (from plotly_express) (1.23.5)
Requirement already satisfied: plotly>=4.1.0 in c:\users\fernando\anaconda3\lib\site-packages (from plotly_express) (5.9.0)
Requirement already satisfied: patsy>=0.5 in c:\users\fernando\anaconda3\lib\site-packages (from plotly_express) (0.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\fernando\anaconda3\lib\site-packages (from pandas>=0.20.0->plotly_express) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\fernando\anaconda3\lib\site-packages (from pandas>=0.20.0->plotly_express) (2.8.2)
Requirement already satisfied: six in c:\users\fernando\anaconda3\lib\site-packages (from patsy>=0.5->plotly_express) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\fernando\anaconda3\lib\site-packages (from plotly>=4.1.0->plotly_express) (8.0.1)
Requirement already satisfied: packaging>=21.3 in c:\users\fernando\anaconda3\lib\site-packages (from statsmodels>=0.9.0->plotly_express) (22.0)
Installing collected packages: plotly_express
Successfully installed plotly_express-0.4.1